# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables 
.env


# IDEs / editors
.vscode/
.idea/ #PyCharm

# =========================
# Windows / OS files
# =========================
Thumbs.db # Windows
desktop.ini # Windows
.DS_Store #macOS

# Generated cryptographic material
storage/